//- MIXIN :: START

include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal

mixin heading(classMod, imgName, title)
  #heading.heading(class!= 'heading--' classMod)

    .heading__bg
      img(src!= 'img/' + imgName alt="")
      .heading__bg-block

    .heading__wrapper
      h1.heading__title!= title

//- MIXIN :: END
