/// ADDITIONALLY
/// ===============
$maxWidth: 1300px;
$paddingLeft: 30px;
$paddingRight: $paddingLeft;

/// MAIN
/// ===============
.c-grid {
  @extend %grid;
  @if($maxWidth) {
    max-width: $maxWidth;
  }
  padding-right: $paddingRight;
  padding-left: $paddingLeft;
  @include adaptive(767) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &-fluid {
    @extend %grid;
    max-width: 100%;
    padding-right: $paddingRight;
    padding-left: $paddingLeft;
    @include adaptive(767) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

