// SECTION :: START

.form {
  padding-top: 150px;
  padding-bottom: 100px;

  &__desc {
    padding-bottom: 80px;
    @include adaptive(767) {
      padding-bottom: 40px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include adaptive(1023) {
      flex-wrap: wrap;
    }

    &-left {
      flex: 1;
      min-width: 1px;
      max-width: 100%;
      padding-right: 100px;
      @include adaptive(1279) {
        padding-right: 0;
      }
      @include adaptive(1023) {
        flex: 100%;
        padding-bottom: 30px;
      }
    }

    &-right {
      position: relative;
      width: 100%;
      max-width: 500px;
      padding-left: 50px;
      @include adaptive(1023) {
        max-width: 100%;
        padding-right: 50px;
      }
      @include adaptive(767) {
        padding-left: 0;
        padding-right: 0;
      }

      &:before {
        content: '';
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background-color: #ffffff;
        @include adaptive(767) {
          display: none;
        }
      }

      &:after {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50px;
        width: 2px;
        height: calc(100% + 30px);
        background-color: #ffd89b;
        @include adaptive(767) {
          display: none;
        }
      }
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    transform: rotate(-4deg) translateX(-2px);
    @include respondCustom('(min-width: 1921px)') {
      transform: rotate(-3deg) translateX(-2px);
    }

    &-1 {
      background-color: #A8CF89;
    }
    &-2 {
      background-color: #F9AA33;
    }
    &-3 {
      background-color: #57B1D8;
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      @include adaptive(767) {
        left: -30px;
        width: calc(100% + 60px);
      }

      > div {
        &:not(:last-of-type) {
          padding-bottom: 30px;
          @include adaptive(767) {
            padding-bottom: 10px;
          }
        }
      }
    }

    a,
    p {
      display: flex;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #000000;
    }
  }

  .newsletter {
    &__form {
      .c-btn {
        &__wrapper {
          justify-content: flex-start;
          padding-top: 10px;
        }
      }
    }
  }
}

// SECTION :: END
