// SECTION :: START

section#events.events

  .c-line(data-aos="fade-up")
  h2.events__title.c-title(data-aos="fade-up") Unsere letzten Veranstaltungen

  .c-grid
    .events__wrapper
      div(data-aos="fade-up")
        a(href="#")
          img(src="img/img-events-1.png" srcset="img/img-events-1@2x.png 2x" alt="")
      div(data-aos="fade-up")
        a(href="#")
          img(src="img/img-events-2.png" srcset="img/img-events-2@2x.png 2x" alt="")

// SECTION :: END
