// SECTION :: START

section#events.events

  .c-line
  h2.events__title.c-title Unsere letzten Veranstaltungen

  .c-grid
    .events__wrapper
      div
        a(href="#")
          img(src="img/img-events-1.png" srcset="img/img-events-1@2x.png 2x" alt="")
      div
        a(href="#")
          img(src="img/img-events-2.png" srcset="img/img-events-2@2x.png 2x" alt="")

// SECTION :: END
