// SECTION :: START

section#last.last
  .c-grid

    .c-line(data-aos="fade-up")
    h2.last__title.c-title(data-aos="fade-up") Letzer Newsletter
    p.last__desc.c-desc(data-aos="fade-up") Schaue dir hier unsere aktuellste Ausgabe unseres monatlichen Newsletters an.

    .last__wrapper

      .last__line(data-aos="fade-up")
        span
        span

      img(src="img/img-last.png" alt="" data-aos="fade-up")

// SECTION :: END
