// SECTION :: START

section#last.last
  .c-grid

    .c-line
    h2.last__title.c-title Letzer Newsletter
    p.last__desc.c-desc Schaue dir hier unsere aktuellste Ausgabe unseres monatlichen Newsletters an.

    .last__wrapper

      .last__line
        span
        span

      img(src="img/img-last.png" alt="")

// SECTION :: END
