// SECTION :: START

section#next.next
  .c-grid

    .c-line(data-aos="fade-up")
    h2.next__title.c-title(data-aos="fade-up") Unsere nächsten Ereignisse
    p.next__desc.c-desc(data-aos="fade-up") Schaue dir unsere Termine an und notiere dir das Datum un die Uhrzeit. Wir freuen uns auf dich!

    .next__video-container
      .next__video-wrapper
        .next__video-bg(data-aos="fade-up")
          span
          span
          span
          span
          span
          span
        .next__video(data-aos="fade-up")
          img(src="img/img-next-poster.png" srcset='img/img-next-poster@2x.png 2x' alt="")
          .c-btn__wrapper.c-btn__wrapper--center
            a.c-btn(href="#") Lesen

// SECTION :: END
