// SECTION :: START

section#special.special
  .c-grid

    .c-line(data-aos="fade-up")
    h2.special__title.c-title(data-aos="fade-up") Besondere Termine unserer Gemeinden
    p.special__desc.c-desc(data-aos="fade-up") Zum Notieren und Abspeichern

  .special__wrapper.special__wrapper-1
    img(src="img/img-special-1.png" alt="")
    .special__content
      ul
        li(data-aos="fade-up")
          img(src="img/icon-adresse green.svg" alt="")
          p Gemeinde Barsinghausen
        li(data-aos="fade-up")
          img(src="img/icon-question.svg" alt="")
          p Gemeinsames Abendmahl
        li(data-aos="fade-up")
          img(src="img/icon-clock.svg" alt="")
          p!= "03.01.2022 <br>19:30 Uhr"

  .special__wrapper.special__wrapper-2
    img(src="img/img-special-2.png" alt="")
    .special__content
      ul
        li(data-aos="fade-up")
          img(src="img/icon-adresse green.svg" alt="")
          p Gemeinde Isernagen
        li(data-aos="fade-up")
          img(src="img/icon-question.svg" alt="")
          p Zusammenkunft der Gemeindeleitung
        li(data-aos="fade-up")
          img(src="img/icon-clock.svg" alt="")
          p!= "05.02.2022 <br>19:30 Uhr"


// SECTION :: END
