---
title: Bap Tis Ten

pageClassName: p-home
---
extends shared/_layout

block footer
block content
  main.main.main--start(class!= pageClassName)

    include components/homepage/describe
    include components/homepage/locations
    include components/homepage/community
    include components/homepage/media
