// HEADER :: START

nav#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left

        .logo.logo--header
          a.logo__btn(href="#")
            img(src="img/logo-brand-1.png" srcset='img/logo-brand-1@2x.png 2x' alt="")
            img(src="img/logo-brand-2.svg" alt="")

        +hamburger()

      .header__wrapper-right

        nav.header__nav
          a(class!= (pageClassName === 'p-home')?'is-active':'' href="/index.html") Startseite
          a(class!= (pageClassName === 'p-about')?'is-active':'' href="/about.html") Über Uns
          a(class!= (pageClassName === 'p-sub-community')?'is-active':'' href="/sub-communities.html") Teilgemeinden
          a(class!= (pageClassName === 'p-media')?'is-active':'' href="/media.html") Medien
          a(class!= (pageClassName === 'p-current')?'is-active':'' href="/current.html") Aktuelles
          a(class!= (pageClassName === 'p-facilities')?'is-active':'' href="/facilities.html") Einrichtungen
          a(class!= (pageClassName === 'p-contact')?'is-active':'' href="/contact.html") Kontakt

// HEADER :: END
