// SECTION :: START

.describe {
  position: relative;

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    @include adaptive(1365) {
      height: 450px;
    }
    @include adaptive(767) {
      height: 350px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(87, 177, 216, 0.3);
    }

    img {
      @extend %imageResCoverAbs;
    }

    &-block {
      z-index: 2;
      position: absolute;
      left: 0;
      bottom: -70px;
      width: 100%;
      height: 152px;
      background-color: #ffffff;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
      transform: skewY(-4deg);
      @include respondCustom('(min-width: 1921px)') {
        transform: skewY(-3deg);
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    padding-top: 480px;
    @include adaptive(1365) {
      padding-top: 380px;
    }
    @include adaptive(767) {
      padding-top: 280px;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    @include adaptive(1365) {
      width: 225px;
      height: 225px;
    }
    @include adaptive(767) {
      width: 200px;
      height: 200px;
    }

    &-1 {
      background-color: #a8cf89;
    }
    &-2 {
      background-color: #f8b235;
    }
    &-3 {
      background-color: #57b1d8;
    }

    &-wrapper {
      z-index: 3;
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
      @include adaptive(767) {
        flex-wrap: wrap;
        align-items: center;
        transform: translateY(-20px);

        > div {
          display: flex;
          justify-content: center;
          width: 100%;
          max-width: 50%;

          &:not(:last-of-type) {
            margin-bottom: 20px;
          }

          &:last-of-type {
            max-width: 100%;
          }
        }
      }
      @include adaptive(575) {
        > div {
          max-width: 100%;
        }
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      @include adaptive(1365) {
        max-width: 95px;
      }
      @include adaptive(767) {
        max-height: 75px;
      }
    }

    p {
      padding-top: 10px;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      @include adaptive(767) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

// SECTION :: END
