// SECTION :: START

.locations {
  padding-top: 20px;
  padding-bottom: 40px;
  @include adaptive(1279) {
    padding-bottom: 60px;
  }
  @include adaptive(1023) {
    padding-bottom: 40px;
  }

  &__container {
    position: relative;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-1 {
      z-index: 2;
      @include adaptive(1023) {
        display: none;
      }

      .locations__bg-block {
        position: absolute;
        bottom: 0;
        width: 100%;

        &-1 {
          z-index: 2;
          left: -40px;
          max-width: 37%;
          height: 115px;
          background-color: #F8B235;
          transform: rotate(-4deg) translateY(-60px);
          @include respondCustom('(min-width: 1921px)') {
            transform: rotate(-3deg) translateY(-60px);
          }
        }

        &-2 {
          z-index: 1;
          left: 115px;
          max-width: 23%;
          height: 120px;
          background-color: #57B1D8;
          transform: rotate(-4deg);
          @include respondCustom('(min-width: 1921px)') {
            transform: rotate(-3deg);
          }
        }
      }
    }

    &-2 {
      z-index: 1;
      background-color: #F7F8FC;
      transform: skewY(-4deg) translateY(-60px);
      @include respondCustom('(min-width: 1921px)') {
        transform: skewY(-3deg) translateY(-60px);
      }

      &:after {
        content: '';
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(247,248,252,1) 60%,rgba(247,248,252,0) 100%);
      }

      > img {
        z-index: 0;
        @extend %imageResCoverAbs;
        left: auto;
        right: 0;
        object-fit: cover;
        width: 50%;
        object-position: right center;
        @include adaptive(767) {
          display: none;
        }
      }

      .locations__bg-block {
        z-index: 3;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: skewY(4deg) rotate(-4deg);
        @include respondCustom('(min-width: 1921px)') {
          transform: skewY(3deg) rotate(-3deg);
        }
        @include adaptive(767) {
          display: none;
        }

        &-1 {
          z-index: 5;
          right: -10px;
          bottom: -20px;
          max-width: 29%;
          height: 116px;
          background-color: #F8B235;
        }

        &-2 {
          z-index: 4;
          right: -40px;
          bottom: -100px;
          max-width: 42%;
          height: 107px;
          background-color: #57B1D8;
          @include adaptive(1023) {
            bottom: -80px;
          }
        }
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;

    &-1 {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 40px;
      @include adaptive(1023) {
        flex-wrap: wrap;
        padding-bottom: 150px;
      }
      @include adaptive(575) {
        padding-bottom: 125px;
      }

      > div {
        &:nth-of-type(1) {
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 40px;
          @include adaptive(1023) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 20px;
          }
        }
        &:nth-of-type(2) {
          padding-left: 40px;
          @include adaptive(1023) {
            width: 100%;
            padding-left: 0;
          }
        }
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-2 {
      padding-top: 120px;
      padding-bottom: 120px;
      @include adaptive(767) {
        padding-top: 60px;
      }
      @include adaptive(575) {
        padding-top: 30px;
      }
    }
  }

  &__title {
    padding-bottom: 0;
    text-align: left;
    @include adaptive(767) {
      text-align: center;
    }
  }

  &__label {
    padding-bottom: 20px;
    text-align: left;
    @include adaptive(767) {
      text-align: center;
    }
  }

  &__desc {
    &-2 {
      width: 100%;
      max-width: 640px;
      padding-bottom: 20px;
      text-align: left;
      @include adaptive(767) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }

  &__list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    @include adaptive(1023) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    li {
      display: flex;
      @include adaptive(1023) {
        width: 50%;
      }

      &:not(:last-of-type) {
        padding-bottom: 10px;
      }

      a {
        display: flex;
        align-items: center;
        @include adaptive(1023) {
          justify-content: flex-end;
          width: 100%;
        }

        > div {
          &:nth-of-type(1) {
            font-size: 18px;
            font-weight: 400;
            color: #000000;
            text-align: right;
            @include adaptive(575) {
              font-size: 14px;
            }
            @include adaptive(374) {
              font-size: 12px;
            }
          }
          &:nth-of-type(2) {
            padding-left: 20px;
            @include adaptive(575) {
              padding-left: 10px;
            }

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              min-width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #F8B235;
              @include adaptive(575) {
                width: 30px;
                min-width: 30px;
                height: 30px;
                padding: 5px;
              }

              img {
                display: block;
                max-width: 100%;
                height: auto;
                max-height: 100%;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
        }
      }
    }
  }

  &__poster {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    @include adaptive(767) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__btn {
    @include adaptive(767) {
      justify-content: center;
    }
  }
}

// SECTION :: END
