// SUBTITLE :: START

.c-label {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  @include adaptive(1279) {
    font-size: 20px;
  }
  @include adaptive(767) {
    font-size: 18px;
  }
}

// SUBTITLE :: END
