// LOGOTYPE :: START

.logo {
  display: flex;

  &.logo--header {
    .logo {
      &__btn {
        @include adaptive(767) {
          max-height: 45px;
        }
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      max-height: 100%;

      & + img {
        margin-left: 25px;
      }
    }
  }
}

// LOGOTYPE :: END
