// TITLE :: START

.c-title {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #F8B235;
  @include adaptive(1279) {
    font-size: 43px;
  }
  @include adaptive(767) {
    font-size: 38px;
    line-height: 44px;
  }
  @include adaptive(374) {
    font-size: 33px;
    line-height: 40px;
  }
  @include adaptive(319) {
    font-size: 30px;
    line-height: 35px;
  }
}

// TITLE :: END
