// SECTION :: START

section#map.map

  .c-grid

    .c-line
    h2.map__title.c-title Karte unserer Gemeinden
    p.map__desc.c-desc Finde unsere Gemeinden und berechne deine Rute zu ihnen

  .map__wrapper
    img(src="img/img-map.png" alt="")

// SECTION :: END
