// SECTION :: START

section#map.map

  .c-grid

    .c-line(data-aos="fade-up")
    h2.map__title.c-title(data-aos="fade-up") Karte unserer Gemeinden
    p.map__desc.c-desc(data-aos="fade-up") Finde unsere Gemeinden und berechne deine Rute zu ihnen

  .map__wrapper
    //img(src="img/img-map.png" alt="")
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86480.33583386845!2d9.684732932652794!3d52.379658817786584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b00b514d494f85%3A0x425ac6d94ac4720!2sHanover%2C%20Germany!5e0!3m2!1sen!2sua!4v1648759872078!5m2!1sen!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

// SECTION :: END
