// SECTION :: START

section#entire.entire

  .entire__bg

  .c-grid
    .entire__wrapper

      .entire__line.c-line
      p.entire__label.c-label Die Vorteile unserer
      h2.entire__title.c-title Gesamtgemeinde

      .entire__box-wrapper
        div
          .entire__box
            p Gemeinsame Bildungsangebote
        div
          .entire__box
            p Betrieb und Unterstützung von gemeinsam genutzten Einrichtungen
        div
          .entire__box
            p Unterstützung bei Finanzierung von Bauvorhaben
        div
          .entire__box
            p Personelle, materielle Unterstützung - besonders der kleinen Teilgemeinden
        div
          .entire__box
            p Gemeinsame Öffentlichkeitsarbeit
        div
          .entire__box
            p Zentrale Verwaltung

// SECTION :: END
