// SECTION :: START

section#entire.entire

  .entire__bg

  .c-grid
    .entire__wrapper

      .entire__line.c-line(data-aos="fade-up")
      p.entire__label.c-label(data-aos="fade-up") Die Vorteile unserer
      h2.entire__title.c-title(data-aos="fade-up") Gesamtgemeinde

      .entire__box-wrapper
        div(data-aos="fade-up")
          .entire__box
            p Gemeinsame Bildungsangebote
        div(data-aos="fade-up")
          .entire__box
            p Betrieb und Unterstützung von gemeinsam genutzten Einrichtungen
        div(data-aos="fade-up")
          .entire__box
            p Unterstützung bei Finanzierung von Bauvorhaben
        div(data-aos="fade-up")
          .entire__box
            p Personelle, materielle Unterstützung - besonders der kleinen Teilgemeinden
        div(data-aos="fade-up")
          .entire__box
            p Gemeinsame Öffentlichkeitsarbeit
        div(data-aos="fade-up")
          .entire__box
            p Zentrale Verwaltung

// SECTION :: END
