// SECTION :: START

section#history.history
  .c-grid

    .c-line(data-aos="fade-up")
    h2.history__title.c-title(data-aos="fade-up") Unsere Geschichte
    p.history__desc.c-desc(data-aos="fade-up") Erfahre mehr über uns und unsere Historie

    .history__wrapper
      .history__wrapper-left

        ul
          li(data-aos="fade-up")
            div
              p Gründung der Evangelisch-Freikirchlichen Gemeinde Hannover Walderseestraße 1843
            div
          li(data-aos="fade-up")
            div
              p Gründung des Sozialwerks Hannover, heute Diakoniewerk Kirchröder Turm e.V. 1948
            div
          li(data-aos="fade-up")
            div
              p Gründung der Gesamtgemeinde Hannover 1968
            div
          each val, idx in [1,2,3,4]
            li(data-aos="fade-up")
              div
                p Gründung der Evangelisch-Freikirchlichen Gemeinde Hannover Walderseestraße 1843
              div
            li(data-aos="fade-up")
              div
                p Gründung des Sozialwerks Hannover, heute Diakoniewerk Kirchröder Turm e.V. 1948
              div
            li(data-aos="fade-up")
              div
                p Gründung der Gesamtgemeinde Hannover 1968
              div

      .history__wrapper-right
        img(src="img/img-history.png" srcset="img/img-history@2x.png 2x" alt="" data-aos="fade-up")

// SECTION :: END
