// SECTION :: START

section#history.history
  .c-grid

    .c-line
    h2.history__title.c-title Unsere Geschichte
    p.history__desc.c-desc Erfahre mehr über uns und unsere Historie

    .history__wrapper
      .history__wrapper-left

        ul
          li
            div
              p Gründung der Evangelisch-Freikirchlichen Gemeinde Hannover Walderseestraße 1843
            div
          li
            div
              p Gründung des Sozialwerks Hannover, heute Diakoniewerk Kirchröder Turm e.V. 1948
            div
          li
            div
              p Gründung der Gesamtgemeinde Hannover 1968
            div
          each val, idx in [1,2,3,4]
            li
              div
                p Gründung der Evangelisch-Freikirchlichen Gemeinde Hannover Walderseestraße 1843
              div
            li
              div
                p Gründung des Sozialwerks Hannover, heute Diakoniewerk Kirchröder Turm e.V. 1948
              div
            li
              div
                p Gründung der Gesamtgemeinde Hannover 1968
              div

      .history__wrapper-right
        img(src="img/img-history.png" srcset="img/img-history@2x.png 2x" alt="")

// SECTION :: END
