// SECTION :: START

section#testimonials.testimonials
  .c-grid
    .testimonials__wrapper

      .testimonials__bg(data-aos="fade-up")
        span
        span
        span

      .testimonials__content
        p.testimonials__desc(data-aos="fade-up") In der Gesamtgemeinde Hannover sind elf Baptistengemeinden aus der Landeshauptstadt und Region Hannover organisatorisch zusammengefasst als:
        p.testimonials__title(data-aos="fade-up") "Evangelisch-Freikirchliche Gesamtgemeinde Hannover K.d.รถ.R".

// SECTION :: END
