// SECTION :: START

section#testimonials.testimonials
  .c-grid
    .testimonials__wrapper

      .testimonials__bg
        span
        span
        span

      .testimonials__content
        p.testimonials__desc In der Gesamtgemeinde Hannover sind elf Baptistengemeinden aus der Landeshauptstadt und Region Hannover organisatorisch zusammengefasst als:
        p.testimonials__title "Evangelisch-Freikirchliche Gesamtgemeinde Hannover K.d.รถ.R".

// SECTION :: END
