// SECTION :: START

section#community.community
  .c-grid
    .community__wrapper
      .community__wrapper-left

        .community__block-wrapper.community__block-wrapper-1
          .community__block-bg
            div
            div
            div
            div
          .community__block
            img(src="img/img-community-user-1.png" srcset="img/img-community-user-1@2x.png" alt="")

      .community__wrapper-middle

        .c-line
        p.community__label.c-label Unsere
        h2.community__title.c-title Gemeindeleiter
        p.community__desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

      .community__wrapper-right

        .community__block-wrapper.community__block-wrapper-2
          .community__block-bg
            div
            div
            div
            div
          .community__block
            img(src="img/img-community-user-2.png" srcset="img/img-community-user-2@2x.png" alt="")

// SECTION :: END
