// SECTION :: START

section#describe.describe

  .describe__bg
    img(src="img/img-describe-bg.jpg" srcset="img/img-describe-bg@2x.png 2x" alt="")

    .describe__bg-block

  .describe__wrapper

    .c-grid

      .describe__box-wrapper
        div(data-aos="fade-up")
          .describe__box.describe__box-1
            img(src="img/img-describe-circle-1.svg" alt="")
            p gesamt
        div(data-aos="fade-up")
          .describe__box.describe__box-2
            img(src="img/img-describe-circle-2.svg" alt="")
            p gemeinde
        div(data-aos="fade-up")
          .describe__box.describe__box-3
            img(src="img/img-describe-circle-3.svg" alt="")
            p hannover

// SECTION :: END
