// SECTION :: START

section#locations.locations
  .c-grid

    .c-line(data-aos="fade-up")
    h2.locations__subtitle.c-subtitle(data-aos="fade-up") Die Standorte unserer 11 Gemeinden
    p.locations__desc.locations__desc-1.c-desc(data-aos="fade-up") Klicke auf die Symbole, um mehr zu erfahren.

  .locations__container.locations__container-1

    .locations__bg.locations__bg-1
      .locations__bg-block.locations__bg-block-1
      .locations__bg-block.locations__bg-block-2

    .c-grid

      .locations__wrapper.locations__wrapper-1
        .locations__wrapper-left

          img(src="img/img-locations-map.svg" alt="" data-aos="fade-up")

        .locations__wrapper-right

          ul.locations__list(data-aos="fade-up")
            li
              a(href="#")
                div Barsinghausen
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Hannover-Kronsberg
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Hannover-Linden
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Hannover-Walderseestraße
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Hannover-Roderbusch
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Hannover-Südstadt
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Isernhagen
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Langenhagen
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Lehrte
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Neustadt a. Rbge.
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")
            li
              a(href="#")
                div Wunstorf
                div
                  span
                    img(src="img/icon-locations-list.svg" alt="")

          //img(src="img/img-locations-list.svg" alt="")

  .locations__container.locations__container-2

    .locations__bg.locations__bg-2
      img(src="img/img-locations-bg.jpg" alt="")

      .locations__bg-block.locations__bg-block-1
      .locations__bg-block.locations__bg-block-2

    .c-grid

      .locations__wrapper.locations__wrapper-2

        h3.locations__title.c-title(data-aos="fade-up") Aktuelles
        p.locations__label.c-label(data-aos="fade-up") Veranstaltungen, Gottesdienste uvm.
        p.locations__desc.locations__desc-2.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

        img.locations__poster(src="img/img-locations-poster.svg" alt="" data-aos="fade-up")

        .locations__btn.c-btn__wrapper(data-aos="fade-up")
          a.c-btn(href="#") Mehr erfahren

// SECTION :: END
