// SECTION :: START

section#locations.locations
  .c-grid

    .c-line
    h2.locations__subtitle.c-subtitle Die Standorte unserer 11 Gemeinden
    p.locations__desc.locations__desc-1.c-desc Klicke auf die Symbole, um mehr zu erfahren.

  .locations__container.locations__container-1

    .locations__bg.locations__bg-1
      .locations__bg-block.locations__bg-block-1
      .locations__bg-block.locations__bg-block-2

    .c-grid

      .locations__wrapper.locations__wrapper-1
        .locations__wrapper-left

          img(src="img/img-locations-map.svg" alt="")

        .locations__wrapper-right

          img(src="img/img-locations-list.svg" alt="")

  .locations__container.locations__container-2

    .locations__bg.locations__bg-2
      img(src="img/img-locations-bg.jpg" alt="")

      .locations__bg-block.locations__bg-block-1
      .locations__bg-block.locations__bg-block-2

    .c-grid

      .locations__wrapper.locations__wrapper-2

        h3.locations__title.c-title Aktuelles
        p.locations__label.c-label Veranstaltungen, Gottesdienste uvm.
        p.locations__desc.locations__desc-2.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

        img.locations__poster(src="img/img-locations-poster.svg" alt="")

        .locations__btn.c-btn__wrapper
          a.c-btn(href="#") Mehr erfahren

// SECTION :: END
