// SECTION :: START

section#media.media

  .media__bg
    img(src="img/img-media-bg.png" alt="")

  .c-grid
    .media__wrapper

      .c-line
      h2.media__title.c-title Medien
      p.media__desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

      .media__btn.c-btn__wrapper.c-btn__wrapper--center
        a.c-btn(href="#") Lesen

// SECTION :: END
