// SECTION :: START

section#person.person

  .person__bg

  .c-grid

    .person__wrapper

      .person__line.c-line(data-aos="fade-up")
      h2.person__title.c-title(data-aos="fade-up") Kontaktpersonen

      .person__box-wrapper
        div
          .person__box.person__box-1
            div
              .person__box-user(data-aos="fade-up")
                div
                  .person__box-bg
                    span
                    span
                  img(src="img/img-community-user-1.png" srcset="img/img-community-user-1@2x.png" alt="")
                div
                  p.person__box-name(data-aos="fade-up")!= "Hans-Peter Pfeifenbring <br>(Gesamtgemeindeleiter)"
            div
              p.person__box-desc(data-aos="fade-up") Wir beide leiten ehrenamtlich die Gesamtgemeinde und sind gerne ansprechbar für Ihr oder Dein Anliegen.
        div
          .person__box.person__box-2
            div
              p.person__box-desc(data-aos="fade-up")   Unterstützt werden wir von Iris Sikorski als Ansprechpartnerin im Büro.
            div
              .person__box-user(data-aos="fade-up")
                div
                  .person__box-bg
                    span
                    span
                  img(src="img/img-community-user-2.png" srcset="img/img-community-user-2@2x.png" alt="")
                div
                  p.person__box-name(data-aos="fade-up")!= "Dr. Michael Rohde <br>(stlv. Gesamtgemeindeleiter)"

// SECTION :: END
