// SECTION :: START

section#gallery.gallery
  .c-grid

    .c-line(data-aos="fade-up")
    h2.gallery__title.c-title(data-aos="fade-up") Bildergalerie
    p.gallery__desc.c-desc(data-aos="fade-up") Siehe Dir hier die schönsten Momente von vergangenen Veranstaltungen

    .gallery__wrapper

      .gallery__box-wrapper
        .gallery__box-top
          .gallery__box-left
            div(data-aos="fade-up")
              img(src="img/img-gallery-1.png" alt="")
            div(data-aos="fade-up")
              img(src="img/img-gallery-2.png" alt="")
          .gallery__box-right
            div(data-aos="fade-up")
              img(src="img/img-gallery-3.png" alt="")
            div(data-aos="fade-up")
              img(src="img/img-gallery-4.png" alt="")

        .gallery__box-bottom
          div(data-aos="fade-up")
            img(src="img/img-gallery-5.png" alt="")
          div(data-aos="fade-up")
            img(src="img/img-gallery-6.png" alt="")

// SECTION :: END
