// SECTION :: START

section#links.links
  .c-grid

    .c-line(data-aos="fade-up")
    h2.links__title.c-title(data-aos="fade-up") Empfohlene Links
    p.links__desc.c-desc(data-aos="fade-up") Schaue gerne unsere Partnerseiten an

  .links__box-wrapper
    div(data-aos="fade-up")
      .links__box.links__box-1
        .links__box-left
        .links__box-middle
          div
            p Biblisches-Theologisches Insitut Hannover
            .c-btn__wrapper.c-btn__wrapper--center
              a.c-btn(href="#") Besuchen
        .links__box-right
          img(src="img/img-links-1.png" alt="")
    div(data-aos="fade-up")
      .links__box.links__box-2
        .links__box-left
        .links__box-middle
          div
            p Biblisches-Theologisches Insitut Hannover
            .c-btn__wrapper.c-btn__wrapper--center
              a.c-btn(href="#") Besuchen
        .links__box-right
          img(src="img/img-links-2.png" alt="")
    div(data-aos="fade-up")
      .links__box.links__box-3
        .links__box-left
        .links__box-middle
          div
            p Biblisches-Theologisches Insitut Hannover
            .c-btn__wrapper.c-btn__wrapper--center
              a.c-btn(href="#") Besuchen
        .links__box-right
          img(src="img/img-links-3.png" alt="")
    div(data-aos="fade-up")
      .links__box.links__box-4
        .links__box-left
        .links__box-middle
          div
            p Biblisches-Theologisches Insitut Hannover
            .c-btn__wrapper.c-btn__wrapper--center
              a.c-btn(href="#") Besuchen
        .links__box-right
          img(src="img/img-links-4.png" alt="")

// SECTION :: END
