// SECTION :: START

section#news.news
  .news__container.news__container-1
    .c-grid

      .news__line.news__line-1.c-line(data-aos="fade-up")
      h2.news__title.news__title-1.c-title(data-aos="fade-up") “Gemeinde Aktuell”
      p.news__desc.news__desc-1.c-desc(data-aos="fade-up") Durchstöbere unser Archiv aller Ausgaben des Monatsmagazin

      .news__wrapper.news__wrapper-1

        .news__box-wrapper
          div(data-aos="fade-up")
            .news__box.news__box-1
              p.news__box-num No. 134
              p.news__box-title Januar 2022
              p.news__box-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .news__box-btn.c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#") Lesen
          div(data-aos="fade-up")
            .news__box.news__box-2
              p.news__box-num No. 134
              p.news__box-title Januar 2022
              p.news__box-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .news__box-btn.c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#") Lesen
          div(data-aos="fade-up")
            .news__box.news__box-3
              p.news__box-num No. 134
              p.news__box-title Januar 2022
              p.news__box-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              .news__box-btn.c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#") Lesen

        .news__box-more(data-aos="fade-up")
          a(href="#")
            span Alle Artikel ansehen
            img(src="img/icon-right-arrow.svg" alt="")

  .news__container.news__container-2

    .news__bg

    .c-grid

      .news__wrapper.news__wrapper-2

        .news__line.news__line-2.c-line(data-aos="fade-up")
        h2.news__title.news__title-2.c-title(data-aos="fade-up") Pressespiegel
        p.news__desc.news__desc-2.c-desc(data-aos="fade-up") Lies hier eine Artikelserie über uns

        .news__poster
          .news__poster-bg(data-aos="fade-up")
            span
            span
          img(src="img/img-news-post.png" srcset="img/img-news-post@2x.png 2x" alt="" data-aos="fade-up")

// SECTION :: END
