// SECTION :: START

section#service.service
  .c-grid

    .c-line
    h2.service__title.c-title Unser letzter Gottesdienst
    p.service__desc.c-desc Schaue jetzt hier die Aufzeichnung unseres letzten Gottesdiensts

    .service__video-container
      .service__video-wrapper
        .service__video-bg
          span
          span
          span
          span
          span
          span
        .service__video
          img(src="img/img-service-poster.png" srcset='img/img-service-poster@2x.png 2x' alt="")
          a(href="#")
            img(src="img/icon-play.svg" alt="")


// SECTION :: END
